<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: center;">
    <tr>
        <td height="60" style="text-align: center;">
            <img src="cid:logo" alt="Logo" style="height: 100%; display: block; margin: 0 auto;" />
        </td>
    </tr>
</table>