<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: center;">
    <tr>
        <td bgcolor="#444444" style="color: white; font-family: Arial, sans-serif; font-size: 36px; padding: 30px 0;">
            Witaj {{name}},
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #444444; padding: 20px 0;">
            <a href="{{url}}">{{appName}}</a>
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial, sans-serif; font-size: 16px; color: #444444; padding: 10px 0;">
            Przejdź do aplikacji i wpisz poniższy kod, aby ustawić nowe hasło.
        </td>
    </tr>
    <tr>
        <td
            style="font-family: Arial, sans-serif; color: #6c5ffc; font-size: 46px; letter-spacing: 2px; font-weight: bold; padding: 45px 0;">
            {{code}}
        </td>
    </tr>
</table>